.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.container[data-tool='select'] {
  cursor: default;
}

.container[data-tool='male'],
.container[data-tool='female'],
.container[data-tool='unknown'],
.container[data-tool='text'] {
  cursor: crosshair;
}

.container[data-tool='hand'] {
  cursor: grab;
}

.container[data-tool='eraser'] {
  cursor: cell;
}

.container[data-tool='partnership'] {
  cursor: crosshair;
}
